@charset "UTF-8";

/*--------------------共通部分--------------------*/
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic",
    "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: rgb(250, 250, 250);
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
/*--------------------共通部分ここまで--------------------*/


/* 大きな背景 */
#page_top {
  text-align: center;
  margin-top: 8%;
  
  background-image: url(images/Robot-0.jpg);
  min-height: 100vh;
  /* ちょっと黒っぽく */
  background-color: #555555;
  background-blend-mode: hard-light;
}

#page_top .catch {
  position: absolute;
  top: 250px;
}

#page_top .title {
  font-size: 3rem;
  font-family: "Philosopher", serif; /*ミスってる*/
  /* text-transform: uppercase;
  font-weight: normal;
  text-transform: none; */
}

#page_top .sub-title {
  font-size: 2rem;
  font-family: "Yu Gothic Medium"; /*ミスってる*/
  font-weight: normal;
  /* text-transform: uppercase;
  text-transform: none; */
}


